@mixin playlist-item-width() {
    @media only screen and (max-width: 600px) {
        height: 60px;
    }
    @media only screen and (max-width: 900px) {
        height: 160px;
    }
}

// @media (min-width: 575.98px){
//   .playlist-item {
//     width: 200px !important;
//   }
// }
$theme-black-base: #242e3a;
$theme-black-light: #62727b;
$theme-black-dark: #102027;


$spotify-green: #1CD760;
$spotify-text-black: #222325;
$spotify-text-white: #ffffff;
$spotify-black: #000000;


body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

.root {
  height: 100vh;
  min-height: 800px;
  // max-height: 1200px;
  background: $theme-black-dark;
  color: $spotify-text-white;
}

.login-section {
  color: $spotify-text-black;
}

.home-container {
  min-height: 600px;
  height: 60vh;
}

.home-playlists {
  height: 30vh;

  h4 {
    padding-left: 30px;
    border-bottom: 1px solid $spotify-text-white;
    width: 100vw;
  }
}

.home-panel {
  background-color: $theme-black-base;
}

.section-label {
  padding-top: 10px;
  border-bottom: 2px solid $spotify-green;
  text-align: center;
  width: 60%;
}

.playlist-list {
  display: flex !important;
  // justify-content: flex-end !important;
  flex-direction: row !important;
  margin-bottom: 0px !important;
  padding: 5px !important;
  background-color: $theme-black-dark;
  color: $spotify-text-white;
  width: 100%;
  overflow-x: auto;
}

.playlist-item {
  display: flex !important;
  flex-direction: column !important;
  // flex: 1 !important;
  align-items: center;
  border: 2px solid $theme-black-dark;
}
//
// .playlist-item-expanded {
//   display: flex !important;
//   flex-direction: column !important;
//   flex: 1.5 !important;
//   align-items: center;
//   padding-top: 30px;
//   border: 2px solid $spotify-green;
//   // justify-content: center;
// }

.playlist-image {
  box-sizing: border-box;
  border: 1px solid $theme-black-dark;
  border-radius: 25px;
  min-width: 200px;
  width: 80%;
}

.playlist-image-active {
  box-sizing: border-box;
  border-radius: 25px;
  min-width: 200px;
  width: 80%;
  border: 1px solid $spotify-green;
}

.playlist-image:hover {
  border: 1px solid $spotify-green;
}

.calculating-section {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
}

.calculating-body {
  height: 20vh;
  width: 40vw;
  // text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $spotify-green;
  z-index: 1002;
  position: absolute;
  background-color: $theme-black-dark;
}

.calculating-mosaic {
  display: flex;
  flex-wrap: wrap;
  z-index: 1001;
  animation: 10s slidein;
}

.calc-image {
  height: 200px;
  width: 200px;
  opacity: 0.5;
  margin: 10 auto;
}

.calc-image:nth-child(odd) {
  margin-top: 20px;
}

.calc-image:nth-child(even) {
  margin-bottom: 20px;
}

@keyframes slidein {
  from {
    margin-bottom: 100%;
  }
  to {
    margin-bottom: 0%;
  }
}

.analyses-section {
  display: flex;
  padding-top: 10px;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.radar-chart {
  height: 100%;
  display: flex;
  // align-items: center;
  justify-content: center;
  // border: 1px solid red;
}

.radar-scales {
  fill-opacity: 0.1;
  fill: #CDCDCD;
  // stroke: white;
  // stroke-width: 1px;
}

.polyline {
  stroke: $spotify-green;
  stroke-width: 1px;
}

.radar-shape-0 {
  fill: #9c27b0;
  fill-opacity: 0.3;
}

.radar-shape-1 {
  fill: #ff8f00;
  fill-opacity: 0.3;
}

.radar-shape-0:hover {
  // fill: red;
  fill-opacity: 0.7;
}

.radar-shape-1:hover {
  // fill: red;
  fill-opacity: 0.7;
}

.radar-label {
  font-size: 9pt;
  fill: white;
}

.thick-border {
  border-width: 2px !important;
}

.shape {
  fill-opacity: .3;
}

.shape:hover {
  fill-opacity: .65;
  z-index: 100;
}

// .scale {
//   fill: #FAFAFA;
//   stroke: #999;
//   stroke-width: .2;
// }
//
// .axis {
//   stroke: #555;
//   stroke-width: .2;
// }
//
// .caption {
//   fill: #444;
//   font-weight: 400;
//   text-shadow: 1px 1px 0 #fff;
// }