body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

.root {
  height: 100vh;
  min-height: 800px;
  max-height: 1200px;
}

.playlist-selection {
  flex-direction: column;
  overflow: auto;
}

.playlist-image {
  box-sizing: border-box;
  width: 100%;
}

.thick-border {
  border-width: 2px !important;
}

.shape {
  fill-opacity: .3;
}

.shape:hover {
  fill-opacity: .65;
  z-index: 100;
}

.scale {
  fill: #FAFAFA;
  stroke: #999;
  stroke-width: .2;
}

.axis {
  stroke: #555;
  stroke-width: .2;
}

.caption {
  fill: #444;
  font-weight: 400;
  text-shadow: 1px 1px 0 #fff;
}